In [21]:
# TEST CONNECTION AND IMPORT LIBRARY

import pyodbc

server = 'localhost'
database = 'DAMENG'
username = 'yoda'
password = 'Owkl.9130'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

cursor.execute("drop user weiyin cascade")
cursor.execute("drop tablespace weiyin")
cursor.execute('select username from dba_users')


results = cursor.fetchall()
for row in results:
    print(row)
conn.close()

('SYSAUDITOR',)
('YODA',)
('SYSSSO',)
('SYSDBA',)
('SYS',)

In [22]:
# CREATE TABLESPACES AND USERS

server = 'localhost'
database = 'DAMENG'
username = 'SYSDBA'
password = 'SYSDBA001'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

uname = 'weiyin'
passwd = 'lamweiyin'

cursor.execute(f"create tablespace {uname} datafile '{uname}.dbf' size 256 autoextend on maxsize 10240")
cursor.execute(f'create user {uname} identified by "{passwd}" default tablespace {uname} default index tablespace {uname}')
cursor.execute(f'grant "RESOURCE", "PUBLIC", "DBA", "VTI" to {uname}')

cursor.execute('commit')
conn.close()

In [36]:
# LIST TABLES

server = 'localhost'
database = 'DAMENG'
username = 'SYSDBA'
password = 'SYSDBA001'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

uname = 'YIN'
cursor.execute(f"""select NAME
               from sysobjects
               where \"SUBTYPE$\"='UTAB'
               AND SCHID=(SELECT ID
               FROM sysobjects
               WHERE NAME='{uname}' AND TYPE$='SCH')""")

try:
    results = cursor.fetchall()
    if len(results) == 0:
        print('Empty table')
    for row in results:
        print(row)
except Exception as e:
    print(e)
cursor.execute('commit')
conn.close()

('集装箱动态',)
('客户信息',)
('物流公司',)
('物流信息',)

In [15]:
# SQL QUERIES

server = 'localhost'
database = 'DAMENG'
username = 'test'
password = 'Owkl.9130'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

# cursor.execute('create table 装货表 (船公司 varchar(100), 船名称 varchar(100), 作业开始时间 varchar(100), 作业结束时间 varchar(100), 始发时间 varchar(100), 到达时间 varchar(100), 作业港口 varchar(100), 提单号 varchar(100), 集装箱箱号 varchar(100), 箱尺寸TEU varchar(100), 启运地 varchar(100), 目的地 varchar(100))')
# for a, b, c, d, e, f, g, h, i, j, k, l in table0:
#     cursor.execute(f"insert into 装货表 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}', '{h}', '{i}', '{j}', '{k}', '{l}')")
# cursor.execute('select * from 装货表')

# cursor.execute('create table 卸货表 (船公司 varchar(100), 船名称 varchar(100), 作业开始时间 varchar(100), 作业结束时间 varchar(100), 始发时间 varchar(100), 到达时间 varchar(100), 作业港口 varchar(100), 提单号 varchar(100), 集装箱箱号 varchar(100), 箱尺寸TEU varchar(100), 启运地 varchar(100), 目的地 varchar(100))')
# for a, b, c, d, e, f, g, h, i, j, k, l in table1:
#     cursor.execute(f"insert into 卸货表 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}', '{h}', '{i}', '{j}', '{k}', '{l}')")
# cursor.execute('select * from 卸货表')

# cursor.execute('create table 物流信息 (提单号 varchar(100), 货主名称 varchar(100), 货主代码 varchar(100), 物流公司_货代 varchar(100), 集装箱箱号 varchar(100), 货物名称 varchar(100), 货重_吨 varchar(100))')
# for a, b, c, d, e, f, g in table2:
#     cursor.execute(f"insert into 物流信息 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}')")
# cursor.execute('select * from 物流信息')

# cursor.execute('create table 集装箱动态 (堆存港口 varchar(100), 集装箱箱号 varchar(100), 箱尺寸_TEU varchar(100), 提单号 varchar(100), 堆场位置 varchar(100), 操作 varchar(100), 操作日期 varchar(100))')
# for a, b, c, d, e, f, g in table3:
#     cursor.execute(f"insert into 集装箱动态 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}')")
# cursor.execute('select * from 集装箱动态')

# cursor.execute('create table 客户信息 (客户名称 varchar(100), 客户编号 varchar(100), 手机号 varchar(100), 省市区 varchar(100))')
# for a, b, c, d in table4:
#     cursor.execute(f"insert into 客户信息 values ('{a}', '{b}', '{c}', '{d}')")
# cursor.execute('select * from 客户信息')

# cursor.execute('create table 物流公司 (公司名称 varchar(100), 客户编号 varchar(100), 联系人 varchar(100), 电话 varchar(100), 省市区 varchar(100))')
# for a, b, c, d, e in table5:
#     cursor.execute(f"insert into 物流公司 values ('{a}', '{b}', '{c}', '{d}', '{e}')")
# cursor.execute('select * from 物流公司')

# cursor.execute('drop table 集装箱动态')
# cursor.execute('drop table 物流信息')
# cursor.execute('drop table 卸货表')
# cursor.execute('drop table 客户信息')

cursor.execute('select * from testing')

try:
    results = cursor.fetchall()
    if len(results) == 0:
        print('Empty table')
    for row in results:
        print(row)
except Exception as e:
    print(e)
cursor.execute('commit')
conn.close()

(100, 200)

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/dataset.xlsx', sheet_name='装货表')
columns0 = df.columns
table0 = []
for i in range(len(df)):
    table0.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='卸货表')
columns1 = df.columns
table1 = []
for i in range(len(df)):
    table1.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='物流信息')
columns2 = df.columns
table2 = []
for i in range(len(df)):
    table2.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='集装箱动态')
columns3 = df.columns
table3 = []
for i in range(len(df)):
    table3.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='客户信息')
columns4 = df.columns
table4 = []
for i in range(len(df)):
    table4.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='物流公司')
columns5 = df.columns
table5 = []
for i in range(len(df)):
    table5.append(list(map(str, df.iloc[i].tolist())))

print(columns0, columns1, columns2, columns3, columns4, columns5)

Index(['船公司\t', '船名称', '作业开始时间', '作业结束时间', '始发时间', '到达时间', '作业港口', '提单号',
       '集装箱箱号', '箱尺寸（TEU）', '启运地', '目的地'],
      dtype='object') Index(['船公司\t', '船名称', '作业开始时间', '作业结束时间', '始发时间', '到达时间', '作业港口', '提单号',
       '集装箱箱号', '箱尺寸（TEU）', '启运地', '目的地'],
      dtype='object') Index(['提单号\t', '货主名称', '货主代码', '物流公司（货代）', '集装箱箱号', '货物名称', '货重（吨）'], dtype='object') Index(['堆存港口', '集装箱箱号', '箱尺寸（TEU）', '提单号', '堆场位置', '操作', '操作日期'], dtype='object') Index(['客户名称', '客户编号', '手机号', '省市区'], dtype='object') Index(['公司名称', '客户编号', '联系人', '电话', '省市区'], dtype='object')

In [18]:
import mysql.connector

# Connect to the database
cnx = mysql.connector.connect(user='root',
                              password='Owkl.9130',
                              host='localhost',
                              database='test')

# Execute a query
cursor = cnx.cursor()
query = """select * from 集装箱动态"""
cursor.execute(query)
# cursor.execute('commit')
# Fetch the results
try:
    for row in cursor:
        print(row)
except Exception as e:
    print(e)

# Close the connection
cnx.close()

('苏州港', 'YWCM8054', '20', 'TKNG2924820', 'C020303', '出库', '2022-10-05')
('铜陵港', 'YWCM8054', '20', 'TKNG2924820', 'C020403', '入库', '2022-10-09')
('泰州港', 'YWCM8054', '20', 'HYJZ8535058', 'C030108', '出库', '2022-02-13')
('镇江港', 'YWCM8054', '20', 'HYJZ8535058', 'C050309', '入库', '2022-02-16')
('泰州港', 'MWYW9507', '20', 'HYJZ8535058', 'B090807', '出库', '2022-02-13')
('镇江港', 'MWYW9507', '20', 'HYJZ8535058', 'B020301', '入库', '2022-02-16')
('南通港', 'FLTI8262', '40', 'QPYT7971799', 'A080703', '出库', '2022-05-19')
('马鞍山港', 'FLTI8262', '40', 'QPYT7971799', 'B090309', '入库', '2022-05-23')
('南通港', 'OSIF9340', '40', 'QPYT7971799', 'B090502', '出库', '2022-05-19')
('马鞍山港', 'OSIF9340', '40', 'QPYT7971799', 'B070803', '入库', '2022-05-23')
('南通港', 'XBCB2364', '40', 'QPYT7971799', 'B040206', '出库', '2022-05-19')
('马鞍山港', 'XBCB2364', '40', 'QPYT7971799', 'A050408', '入库', '2022-05-23')
('南通港', 'FFKG3610', '40', 'QPYT7971799', 'C080905', '出库', '2022-05-19')
('马鞍山港', 'FFKG3610', '40', 'QPYT7971799', 'C020109', '入库', '2022-05-23')
('南通港', 'KPOX7915', '40', 'QPYT7971799', 'A060203', '出库', '2022-05-19')
('马鞍山港', 'KPOX7915', '40', 'QPYT7971799', 'C070203', '入库', '2022-05-23')
('太仓港', 'FLTI8262', '40', 'XNCX7357570', 'C020802', '出库', '2022-11-11')
('杭州港', 'FLTI8262', '40', 'XNCX7357570', 'D080408', '入库', '2022-11-15')
('芜湖港', 'FLTI8262', '40', 'OXVX5642772', 'C050708', '出库', '2022-01-24')
('杭州港', 'FLTI8262', '40', 'OXVX5642772', 'D090507', '入库', '2022-01-28')
('芜湖港', 'OSIF9340', '40', 'OXVX5642772', 'B040905', '出库', '2022-01-24')
('杭州港', 'OSIF9340', '40', 'OXVX5642772', 'B090602', '入库', '2022-01-28')
('芜湖港', 'XBCB2364', '40', 'OXVX5642772', 'C060402', '出库', '2022-01-24')
('杭州港', 'XBCB2364', '40', 'OXVX5642772', 'A080706', '入库', '2022-01-28')
('芜湖港', 'FFKG3610', '40', 'OXVX5642772', 'C010105', '出库', '2022-01-24')
('杭州港', 'FFKG3610', '40', 'OXVX5642772', 'D070408', '入库', '2022-01-28')
('芜湖港', 'KPOX7915', '40', 'OXVX5642772', 'A090506', '出库', '2022-01-24')
('杭州港', 'KPOX7915', '40', 'OXVX5642772', 'B040102', '入库', '2022-01-28')

In [42]:
import requests

path = '/data/test.csv'
op = 'OPEN'
url = f'http://0.0.0.0:9870/webhdfs/v1/{path}?op={op}'

res = requests.get(url, stream=True)
open('tests.csv', 'w').write(res.content)

TypeError: write() argument must be str, not bytes

In [1]:
from pyspark.sql import SparkSession

conn = SparkSession.builder.appName("base").getOrCreate()
df = conn.read.format("csv").load(f"hdfs://localhost:9000/data/test.csv")
conn.stop()
df.show()

Py4JJavaError: An error occurred while calling o26.load.
: org.apache.hadoop.ipc.RpcException: RPC response has invalid length
	at org.apache.hadoop.ipc.Client$IpcStreams.readResponse(Client.java:1933)
	at org.apache.hadoop.ipc.Client$Connection.receiveRpcResponse(Client.java:1238)
	at org.apache.hadoop.ipc.Client$Connection.run(Client.java:1134)

In [3]:
import pandas as pd
from minio import Minio

# Set up Minio client
minio_client = Minio(
    endpoint="localhost:9000",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False,
)

# Get Excel file from Minio
tables = ("集装箱动态", "客户信息", "物流公司", "物流信息", "卸货表", "装货表")
for table in tables:
    minio_client.fget_object("test", f"csv/{table}.csv", f"{table}.csv")
    minio_client.fget_object("test", f"txt/{table}.txt", f"{table}.txt")

In [39]:
import pandas as pd
df = pd.read_csv("tmp", delimiter="\t")
df

,船公司\t,船名称,作业开始时间,作业结束时间,始发时间,到达时间,作业港口,提单号,集装箱箱号,箱尺寸（TEU）,启运地,目的地
0,创新船舶,宜江897,2022-10-05 05:44:49,2022-10-05 18:44:49,2022-10-05 19:44:49,2022-10-09 16:44:49,苏州港,TKNG2924820,YWCM8054,20,苏州港,铜陵港
1,昌盛船务,广大30,2022-02-13 15:40:33,2022-02-14 11:40:33,2022-02-14 12:40:33,2022-02-16 19:40:33,泰州港,HYJZ8535058,"YWCM8054,MWYW9507",20,泰州港,镇江港
2,行航国际,广通234,2022-05-19 19:33:17,2022-05-20 10:33:17,2022-05-20 11:33:17,2022-05-23 07:33:17,南通港,QPYT7971799,"FLTI8262,OSIF9340,XBCB2364,FFKG3610,KPOX7915",40,南通港,马鞍山港
3,衡旺船务,鸿员000,2022-11-11 12:40:42,2022-11-12 08:40:42,2022-11-12 09:40:42,2022-11-15 21:40:42,太仓港,XNCX7357570,FLTI8262,40,太仓港,杭州港
4,景江船舶,鸿大400,2022-01-24 08:51:07,2022-01-25 01:51:07,2022-01-25 02:51:07,2022-01-28 11:51:07,芜湖港,OXVX5642772,"FLTI8262,OSIF9340,XBCB2364,FFKG3610,KPOX7915",40,芜湖港,杭州港

In [23]:
import requests

res = requests.get("http://0.0.0.0:9870/webhdfs/v1/csv/csv/客户信息.csv?op=GETFILESTATUS")
print(res)

<Response [200]>